<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<section class="main" >
    <h1 class="title">Agências Bancárias</h1>

    <div class="upperDiv">
        <a th:href="@{/formulario}"  class="addBtn"> Cadastrar </a>
        <form id="searchForm">
            <input  class="idInput" type="number" id="idInput" placeholder="ID do banco">
            <button class="searchBtn" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>


    <div id="bancoEncontrado" class="card" style="display: none;"></div>

    <div class="bankListDiv">
        <h2>Bancos Cadastrados</h2>
        <tr th:each="banco : ${bancos}">
            <div class="card">
                <div>
                    <span class="cardSpan">Id do Banco: </span>
                    <td th:text="${banco.id}"></td>
                </div>
                <div>
                    <span class="cardSpan">Nome: </span>
                    <td th:text="${banco.nome}"></td>
                </div>
                <div>
                    <span class="cardSpan">CNPJ: </span>
                    <td th:text="${banco.cnpj}"></td>
                </div>
                <div>
                    <span class="cardSpan">Código: </span>
                    <td th:text="${banco.codigo}"></td>
                </div>
                <div>
                    <span class="cardSpan">Cidade: </span>
                    <td th:text="${banco.cidade}"></td>
                </div>
                <div>
                    <span class="cardSpan">Estado: </span>
                    <td th:text="${banco.estado}"></td>
                </div>
                <div>
                    <span class="cardSpan">Presidente: </span>
                    <td th:text="${banco.presidente}"></td>
                </div>

                <div class="cardBtns">
                    <button class="deleteBtn" th:data-id="${banco.id}" onclick="deletarBanco(this)">
                        Deletar
                    </button>
                    <button
                            class="updateBtn"
                            th:data-id="${banco.id}"
                            th:data-nome="${banco.nome}"
                            th:data-cidade="${banco.cidade}"
                            th:data-cnpj="${banco.cnpj}"
                            th:data-codigo="${banco.codigo}"
                            th:data-estado="${banco.estado}"
                            th:data-presidente="${banco.presidente}"
                            onclick="abrirModal(this)"
                    >
                        Alterar
                    </button>
                </div>
            </div>
        </tr>
    </div>

    <div id="modalOverlay" class="modalOverlay">
        <div class="modalContent">
            <h3>Editar Banco</h3>
            <form id="formEditar" th:action="@{/banco/update}" method="post">
                <div class="modalGrid">
                    <input type="hidden" name="id" id="bancoId" />
                    <input type="text" name="nome" class="modalInput" id="bancoNome" placeholder="Nome" required />
                    <input type="text" name="cidade" class="modalInput" id="bancoCidade" placeholder="Cidade" required />
                    <input type="text" name="cnpj" class="modalInput" id="bancoCNPJ" placeholder="CNPJ" required />
                    <input type="number" name="codigo" class="modalInput" id="bancoCodigo" placeholder="Código" required />
                    <input type="text" name="estado" class="modalInput" id="bancoEstado" placeholder="Estado" required />
                    <input type="text" name="presidente" class="modalInput" id="bancoPresidente" placeholder="Presidente" required />
                </div>
                <div class="modalBtns">
                    <button type="button" class="closeModalBtn" onclick="fecharModal()">Cancelar</button>
                    <button type="submit" class="saveModalBtn">Salvar</button>
                </div>
            </form>
        </div>
    </div>

</section>
<script>
    document.getElementById("searchForm").addEventListener("submit", async (e) => {
        e.preventDefault();

        const id = document.getElementById("idInput").value;
        const div = document.getElementById("bancoEncontrado");

        try {
            const response = await fetch(`/api/bancos/${id}`);

            if (!response.ok) {
                div.style.display = "none";
                return;
            }

            const banco = await response.json();

            div.innerHTML = `
                <h3>Banco Encontrado:</h3>
                <div><span class="cardSpan">ID: </span> ${banco.id}</div>
                <div><span class="cardSpan">Nome: </span> ${banco.nome}</div>
                <div><span class="cardSpan">CNPJ: </span> ${banco.cnpj}</div>
                <div><span class="cardSpan">Cidade: </span> ${banco.cidade}</div>
                <div><span class="cardSpan">Estado: </span> ${banco.estado}</div>
                <div><span class="cardSpan">Presidente: </span> ${banco.presidente}</div>
                <div class="cardBtns">
                    <button class="deleteBtn" onclick="deletarBanco(${banco.id})">Deletar</button>
                </div>
            `;
            div.style.display = "block";
        } catch (error) {
            console.error("Erro ao buscar o banco:", error);
            div.style.display = "none";
        }
    });

    function deletarBanco(id) {
        if (confirm("Tem certeza que deseja deletar este banco?")) {
            fetch(`/bancos/${id}`, { method: "DELETE" })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        console.error("Erro ao deletar o banco.");
                    }
                })
                .catch(error => console.error("Erro:", error));
        }
    }
     function abrirModal(botao) {
        document.getElementById("bancoId").value = botao.dataset.id;
        document.getElementById("bancoNome").value = botao.dataset.nome;
        document.getElementById("bancoCidade").value = botao.dataset.cidade;
        document.getElementById("bancoCNPJ").value = botao.dataset.cnpj;
        document.getElementById("bancoCodigo").value = botao.dataset.codigo;
        document.getElementById("bancoEstado").value = botao.dataset.estado;
        document.getElementById("bancoPresidente").value = botao.dataset.presidente;

        document.getElementById("modalOverlay").style.display = "flex";
    }

    function fecharModal() {
      document.getElementById("modalOverlay").style.display = "none";
    }

    document.getElementById("formEditar").addEventListener("submit", async (e) => {
        e.preventDefault();

        const id = document.getElementById("bancoId").value;
        const nome = document.getElementById("bancoNome").value;
        const cidade = document.getElementById("bancoCidade").value;
        const cnpj = document.getElementById("bancoCNPJ").value;
        const codigo = document.getElementById("bancoCodigo").value;
        const estado = document.getElementById("bancoEstado").value;
        const presidente = document.getElementById("bancoPresidente").value;

        const response = await fetch(`/bancos/${id}`, {
            method: "PUT",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ nome, cidade, cnpj, codigo, estado, presidente })
        });
         if (response.ok) {
            window.location.reload();
        }
    });
</script>
</body>
</html>
